/* Screen Resolution Range (360px to 800px) */

/* landingPage.css */

@font-face {
  font-family: 'Plush';
  src: url('../augsburg-font-family-1749727013-0/Plush-Trial-Regular-BF654c40145b0dd.otf') format('otf')

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  @media ( min-width : 360px) {

    .heroSection {
        background-image: url('../images/landingImage.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 900px;
        padding: 20px; 
        display: flex;
        align-items: flex-start; 
        justify-content: flex-start; 
      }
      
      .heroContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .logo {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
      }
      
      .main-text {
        font-family: 'Zen Dots', sans-serif;
        font-size: 50px;
        white-space: pre-line;
        text-align: left;
        color: #ffffff; 
      }

      .heroSubContent {
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-left: -17em;
        margin-top: 34em;
        width: 100%;
      }
      
      .sub-text {
        font-size: 20px;
        font-family: 'Zen Dots', sans-serif;
        white-space: pre-line;
        color: #fff;
        margin-bottom: 10px;
      }
      
      .join-button {
        background-color: #ffffff;
        color: #000;
        font-weight: bold;
        font-family: 'Zen Dots', sans-serif;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;
        font-size: 15px;
      }
      .downward-arrow {
        width: 10%;
        height: 90%;
      }

      .whoWeAreSection {
        padding: 10px;
        display: flex;
        flex-direction: column;
      }

      .titles-right {
        text-align: right;
        position: relative;
      }
      
      .titles-right h4 {
        font-family: 'Plush', sans-serif;
        font-size: 24px;
        color: #000000;
        display: inline-block;
        position: relative;
        padding-bottom: 8px;
      }

      .titles-right h4::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
      }
      
      .whoContent {
        display: block; 
        padding: 10px;
        overflow: hidden; 
      }
      
      .whoImage {
        float: right;
        width: 55%;
        max-width: 210px;
        height: auto;
        margin-left: 15px;
        margin-bottom: 10px;
      }
      
      .whoText {
        font-family: 'Plush', sans-serif;
        color: #000000;
        font-size: 16px;
      }
      
      .whoText p {
        margin-bottom: 15px;
        line-height: 1.5;
      }
      
      
  }


